{% extends "layout_hmlr.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  Terms and conditions - view housing development
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <!-- <h1 class="govuk-heading-l">Contact method </h1> -->

      <form class="form" action="notification-02" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
                How would you like to be contacted?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                  email
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  text message
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "cookies",
          text: "Cookies"
        },
        {
          href: "terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}