{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    

      <h1 class="govuk-heading-xl">
        Sorry, you can't use this service.
      </h1>

      <p>
        send your non CAD files to.... us by post, email, etc
      </p>


    </div>
  </div>

{% endblock %}
