{% extends "../../../layout.html" %}

{% block page_title %}
  Check housing development plan
{% endblock %}

{% block service_name %}
  Check housing development plan
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/check-my-plans/initial-check/v1/07-developer" method="get" class="form">

        <h1 class="govuk-heading-xl">
          Your details
        </h1>

        <p>We need an email address to send you the results of the plans check</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">Email address</label>
          <input class="govuk-input" id="email" type="text" name="email">
        </div>

        <div class="govuk-form-group">
          <input type="submit" class="govuk-button" value="Continue">
        </div>

      </form>


    </div>
  </div>

{% endblock %}
