// remove GOV.UK brand


// Override the govuk-frontend font stack
* {
font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
}

.govuk-tag {
	background-color: #0b0c0c;
}

.govuk-header__container {
	border-color: white; 
}

.govuk-footer {
	background: #f1f2f3;
	border-top-width: 3px;
}

.govuk-template {
    background: #f1f2f3; 
}