{% extends "layout.html" %}

{% block page_title %}
  Westway Estate Phase 2
{% endblock %}

{% block service_name %}

{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="development-plans">Thurstan Park plots</a>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include '../../includes/language_switcher.html' %}
    </div>
  </div>
{% endblock %}

{% block content %}

<!--  1 Cotswold Street, Brompton, Northallerton, North Yorkshire, DL6 2BX -->

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
<!-- 3 Cotswold Street, Brompton, Northallerton, North Yorkshire, DL6 2BX -->
			<div class="">
				<h1 class="govuk-heading-xl spacing-bottom-flush">
           3 Cotswold Street <span class="govuk-heading-m" style="color: grey">(Plot 9)</span>
        </h1>
        <p class="govuk-heading-l spacing-top-half">Brompton<br />Northallerton <br/> North Yorkshire <br/>
         DL6 2BX
        </p>
<br/>
<br/>
			</div>
      <div class="govuk-grid-row spacing-top-single">
    		<div class="govuk-grid-column-two-thirds">
    			<!-- <h2 class="govuk-heading-m">Plot details</h2> -->
    			<!-- <p></a> This plot is part of registered title XXX123456</a> -->
    		</div>
    		<div class="govuk-grid-column-one-third">
    		</div>
    	</div>


			<!-- <div class="govuk-grid-column-one-half spacing-left-flush">
				<h2 itemprop="name" class="govuk-heading-m">Developer</h2>
				<div class="govuk-body"  itemscope itemtype="http://schema.org/Organization">

					<span itemprop="name" class="govuk-!-font-weight-bold">Sanderson Homes</span>
			  	<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

				    <span class="address__line" itemprop="streetAddress">
				      Alston Towers
				    </span>
				    <span class="address__line" itemprop="streetAddress">
				      North Alerton
				    </span>
				    <span class="address__line" itemprop="addressLocality">Derby</span>
				    <span class="address__line" itemprop="postalCode">DB1 3NB</span>
				  </div>

  			</div>

			</div>

			<div class="govuk-grid-column-one-half">
				<h2 itemprop="name" class="govuk-heading-m">Conveyancer</h2>
				<div  class="govuk-body" itemscope itemtype="http://schema.org/Organization">

 					<span itemprop="name" class="govuk-!-font-weight-bold">Barrow &amp; Co Solicitors</span>
			  	<div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

				    <span class="address__line" itemprop="streetAddress">
				      23 Hyde Park
				    </span>
				    <span class="address__line" itemprop="addressLocality">Plymouth</span>
				    <span class="address__line" itemprop="postalCode">PL3 2ED	</span>
				  </div>

  			</div>

			</div> -->

		</div>


		<div class="govuk-grid-column-one-half">
			<div class="estate-location spacing-top-single">
				<img class="map" src="/public/images/plot-9.png">
				<p style="text-align: left;">From the approved <a href="/thurstan-park-no-stamp">estate plan</a></p>
			</div>
		</div>
		<!-- estate map -->
	</div>
	<!-- end first row -->

<!-- 	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="registrability-panel">
				<div class="notice">
				  <i class="icon icon-important">
				    <span class="govuk-visually-hidden">Information</span>
				  </i>
				  <strong class="govuk-!-font-weight-bold-small">
				    This plot plan is <span class="lozenge green">capable of registration</span>
				  </strong>
				</div>
			</div>

		</div>
	</div> -->

<!-- 	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">

	    <h3 class="govuk-heading-m">HM land Registry property checks</h3>

	    <div class="govuk-body"  class="registrability-panel2">
				<div class="notice">
				  <i class="icon icon-important">
				    <span class="govuk-visually-hidden">Information</span>
				  </i>
				  <strong class="govuk-!-font-weight-bold-small">
				    This plot is <span class="lozenge green">capable of registration</span>
				  </strong>
				</div>
			</div>

			<p>

	    <ul class="govuk-list govuk-list--bullet">
	      <li>Plot extent: OK</li>
	      <li>Survey: OK</li>
	      <li>No consent required</li>
	      <li>Power of attorney: OK</li>
	    </ul>
	   </p>

	  </div>
	</div> -->

<!-- 	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">

			<h2 class="govuk-heading-m">Draft title register</h2>
			<p>The title register is kept by the Government, as a legal record of ownership, rights and responsibilities.</p>
			<p>Upon sale of the property, the title register will record the new owner. The new owner will inherit the rights and responsibilities of the land.</p>
			<p><a href="provisional-title-register">The draft title register</a> can be seen at anytime (before sale), and cannot be changed once agreement to buy has occurred.</p>

		</div>


		<div class="govuk-grid-column-one-third">

		</div>

	</div> -->
	<!-- end 2nd row -->


{% endblock %}
