{% extends "layout_hmlr.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  view housing development - page not found
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<!-- this is where we put our stuff -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
<!--         <p class="govuk-body">
          If the web address is correct or you selected a link or button,
          <a href="#" class="govuk-link">contact the Tax Credit Helpline</a> if you need to speak to someone about your tax credits.
        </p> -->
      </div>
    </div>
  </main>
</div>

<!-- this is the end of where we put our stuff -->

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
        	href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}
