{% extends "layout_hmlr.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  view housing development - problem with service
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<!-- this is where we put our stuff -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with this service</h1>
        <p class="govuk-body">Try again later.</p>
      </div>
    </div>

<!-- this is the end of where we put our stuff -->

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "cookies",
          text: "Cookies"
        },
        {
          href: "terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}
