{% extends "layout_hmlr.html" %}

{% block page_title %}
  Germany Beck - Housing development
{% endblock %}

{% block service_name %}

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-bannerx">
<!--   <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p> -->
<!--   <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">
      This is a trial service
    </span>
  </p> -->
<!-- <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
  </p> -->
</div>
<!-- <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="estate-list">Housing Developments</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Germany Beck</li>
  </ol>
</div> -->
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl spacing-bottom-flushx">
        Housing Development
      </h1>
		</div>
	</div>


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">

			<div class="">
<!-- 				<h2 class="govuk-heading-l spacing-bottom-flush">
           Westway Estate, Phase 2
        </h2>
        <p class="govuk-heading-l spacing-top-flush">North Plymouth <br/>
         PL1 2HB
        </p> -->

        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

			    <h2 class="address__line govuk-heading-l spacing-bottom-flush" itemprop="streetAddress">
			      Germany Beck
			    </h2>
			    <div class="govuk-heading-m spacing-bottom-flush">
				    <span class="address__line" itemprop="streetAddress">
				      Off Main Street
				    </span>
				    <span class="address__line" itemprop="addressLocality">Fulford</span>
				    <span class="address__line" itemprop="addressLocality">North Yorkshire</span>
				    <span class="address__line" itemprop="postalCode">YO19 4QG</span>
				  </div>
			  </div>

			</div>

			<h2 class="govuk-heading-m govuk-visually-hidden">
			  Housing developer
			</h2>
			<div class="spacing-top-double">
				<p>This is a Persimmon Homes development.</p>
			</div>


		</div>

		<div class="govuk-grid-column-one-half">
			<div class="estate-location spacing-top-flush">
				<img alt="map showing location of Germany Beck Housing Development, YO19 4QG" class="map" src="/public/images/germany-beck.png">
			</div>
		</div>
		<!-- estate map -->
	</div>
	<!-- end first row -->


	<div class="govuk-grid-row spacing-top-single">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-m govuk-visually-hiddenx">
			  Development plan
			</h2>
			<div class="">
				<p>View the <a href="/germanybeck/estate-layout"><span class="govuk-visually-hidden">Germany Beck, development </span>plan</a> (PDF), dated 18 September 2018.</p>
			</div>
		</div>


		<div class="govuk-grid-column-one-third">

		</div>
	</div>


<!-- 	<div class="govuk-grid-row spacing-top-single">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-m">Feedback</h2>
			<p>This is a trial service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</p>
		</div>
	</div> -->




{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
        	href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}
