{% extends "layout_hmlr.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  Cookies - view housing development
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Thank you for your feedback
      </h1>

      <p class="govuk-lead">
        <a href="govuk-link" href="estate-map-debranded">Return to the Housing development page</a>
      </p>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "cookies",
          text: "Cookies"
        },
        {
          href: "terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}
