{% extends "layout_hmlr.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  Cookies - view housing development
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Cookies
      </h1>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "cookies",
          text: "Cookies"
        },
        {
          href: "terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}