{% extends "layout.html" %}

{% block page_itle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include '../../../../includes/language_switcher.html' %}
    </div>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <a href="#" class="link-back">Back</a> -->

      <h1 class="govuk-heading-l">
        Check your answers before submitting your development plans
      </h1>


      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        Plan details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
  
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Development name and address
          </dt>
          <dd class="app-check-your-answers__answer">
            Westway Estate Phase 2<br />
            North Plymouth <br/>
            PL1 2HB
            {{ data['estate-name'] }}
            {{ data['estate-address'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> development name and address</span>
            </a>
          </dd>
        </div>


        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Estate layout files
          </dt>
          <dd class="app-check-your-answers__answer">
            westway-estate.dxf
            <!-- {{ data['cad_uploads'] }} -->
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> digital layout file</span>
            </a>
          </dd>
        </div>

<!--         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Prececdent deeds file
          </dt>
          <dd class="app-check-your-answers__answer">
            westway-new-title-deeds.pdf
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> precedent deeds</span>
            </a>
          </dd>
        </div> -->

      </dl>

<br>
      <h2 class="govuk-heading-m">
        Contact details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Contact email
          </dt>
          <dd class="app-check-your-answers__answer">
            graham.thomas@sandersonshomes.co.uk
            <!-- {{ data['email'] }} -->
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> contact email</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Developer
          </dt>
          <dd class="app-check-your-answers__answer">
            Sanderson Homes<br />
            Alston Towers<br />
            North Alerton<br />
            Derby<br />
            DB1 3NB
            <!-- {{ data['dev-name'] }} -->
            <!-- {{ data['dev-address'] }} -->
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> developer</span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-m">Now submit your development plans</h2>

      <p class="text">
        By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct at this time.
      </p>

      <div class="govuk-form-group">
        <a href="11-confirmation" class="govuk-button">Accept and send application</a>
      </div>

    </div>
  </div>

{% endblock %}
