{% extends "layout_hmlr.html" %}

{% block page_title %}
  Servie closed - view housing developments
{% endblock %}

{% block service_name %}

{% endblock %}

{% block beforeContent %}

<!-- <div class="govuk-phase-banner" style="margin-top:-10px;">
  <p class="govuk-phase-banner__content">
  <strong class="govuk-tag govuk-phase-banner__content__tag " style="background-color:#005ea5;padding: 4px 8px;">
  beta
  </strong>

  <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div> -->

<!-- <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="estate-list">Housing development list</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Thurstan Park</li>
  </ol>
</div> -->
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Sorry, this trial has closed</h1>
        <p class="govuk-body">This service closed on 01 July 2019.</p>

				<p class="govuk-body">
           It did not change or replace any HM Land Registry services.</p>


        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">You should follow existing processes for estate plan approval of new build housing developments.</p>

        <p class="govuk-body">This includes the 3 housing developments in this trial:

        	<ul class="govuk-list govuk-list--bullet">
        		<li>Harlow Green, Crag Lane, Beckwithshaw, Harrogate, HG3 1QA</li>
        		<li>Harlow Hill Grange, Otley Road, Beckwithshaw Harrogate, HG3 1QL</li>
        		<li>Thurstan Park, Northallerton Road, Northallerton, North Yorkshire, DL6 2PY</li>
        	</ul>

        </p>

				<p class="govuk-body">Find out more about estate plan approval in our <a href="https://www.gov.uk/government/collections/developing-estates-practice-guides">Developing estates: practice guides</a></p>
        

				<h2 class="govuk-heading-m">What happens next</h2>


        <p class="govuk-body">
          <a class="govuk-link" href="mailto:ourteamemailaddress">Email the team</a> if you have any query anything or feedback.
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}

{% block footer %}
  {{ govukFooter({

  }) }}
{% endblock %}
