{% extends "layout_2020_branded.html" %}

{% block page_title %}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
   		<div style="background:lightgrey; padding:1em;border:black 2px solid;">
	      <h1 class="govuk-heading-l">Approval steps...</h1>
	      <ul class="govuk-list govuk-list--bullet">
	          <li>developers get an instant notification about their application</li>
	        	<li>developers information sets up the skeleton edev Workbook (or replacement)</li>
	          <li>we approve plans - however we wish - CAD can help with plot extents</li>
	          <li>we record what we need - edev Workbook - when approved - click approved </li>
	          <li>plan and estate information gets published - and the developer gets a notification - containing a link they can share (link is always the latest information)</li>
	      </ul>
	      <a href="plan-good"><span class="govuk-button">Plan approved</span></a>
	    </div>
    </div>
  </div>

  


{% endblock %}




