{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Plans Checked - Notifications
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">Notifying the Developer of the result of the plan check</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="plan-good">plans checked - everything ok </a></li>
        <li><a href="plan-problem-plot">plans checked - problem with plot 1</a></li>
      </ul>



<!-- 
      <hr>
      
      <p>Notifications, shown here are emails, but they could be other delivery mechanisms for example an API, RSS feed, etc.</p> -->


    </div>

    <div class="govuk-grid-column-one-third">

<!--       <div class="supplementary-panel">

        <h2 class="govuk-heading-m">Made from</h2>
        <ul class="list-bullet">
          <li><span class="govuk-!-font-weight-bold"><a href="check-my-plans/initial-check">Check my estate plan</a></span> - version 1
          </li>
        </ul>

      </div>  --> 
      <!-- end panel -->

    </div>  <!-- end column third -->

  </div>


{% endblock %}


