{% extends "layout_hmlr.html" %}

{% block page_title %}

{% endblock %}

{% block service_name %}

{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="estate-harlow-hill-grange">Harlow Hill Grange overview</a>
    </div>

  </div>
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">
				<span class="govuk-caption-xl">Development</span>
				Harlow Hill Grange

      </h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Development plans
      </h2>
      <p>View the <a href="/harlow-hill-grange/estate-layout">plan<span class="govuk-visually-hidden"> for the Harlow Hill Grange development containing plots 8 to 11, 66 to 70, 80 to 141</span></a> (PDF), dated 08 February 2019 for plots:
        <ul class="govuk-list govuk-list--bullet">
          <li>1 to 46</li>
          <li>53 to 55</li>
          <li>62 to 110</li>
          <li>117 to 125</li>
        </ul>

      </p>

    </div>

	</div>


	<div class="govuk-grid-row govuk-!-margin-top-4">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Plot information
      </h2>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full spacing-top-singlex">
			<table class="govuk-table">
				<caption class="govuk-table__caption govuk-!-margin-bottom-3 govuk-!-font-weight-regular">
					<span class="govuk-visually-hidden">Plot numbers, addresses, and plan approval date for Thurstan Park housing development.</span>
If you are a conveyancer, use this information to complete official search forms.
				</caption>
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th class="govuk-table__header hmlr-table__header__nowrap" scope="col">Plot</th>
			      <th class="govuk-table__header" scope="col">Address</th>
			      <th class="govuk-table__header hmlr-table__header__nowrap" scope="col">Plan approval date
			      <!-- <div class="govuk-caption-s">18 sept 2018 if not stated otherwise</div> -->
			    	</th>
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row"><a href="/harlow-hill-grange/estate-layout">Plot 1</a></th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">08 February 2019</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row"><a href="/harlow-hill-grange/estate-layout">Plot 2</a></th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">08 February 2019</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row"><a href="/harlow-hill-grange/estate-layout">Plot 3</a></th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">08 February 2019</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row"><a href="/harlow-hill-grange/estate-layout">Plot 4</a></th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">08 February 2019</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row"><a href="/harlow-hill-grange/estate-layout">Plot 5</a></th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">08 February 2019</td>
			    </tr>		
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row"><a href="/harlow-hill-grange/estate-layout">etc</a></th>
			      <td class="govuk-table__cell ">down to 46</td>
			      <td class="govuk-table__cell ">08 February 2019</td>
			    </tr>	    
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row">Plot 47</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">not approved</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row">Plot 48</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">not approved</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row">Plot 49</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">not approved</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row">etc</th>
			      <td class="govuk-table__cell ">down to 53</td>
			      <td class="govuk-table__cell ">not approved</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header hmlr-table__header__nowrap" scope="row">etc</th>
			      <td class="govuk-table__cell ">etc - to 125</td>
			      <td class="govuk-table__cell ">etc</td>
			    </tr>
			  </tbody>
			</table>
		</div>
<!-- 		<div class="govuk-grid-column-one-thirds">
		</div> -->
	</div>

<!-- 	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full" style="margin-top:150px;">
			<p><a href="03-development-plans">alternate view of list</a></p>
		</div>
	</div> -->




{% endblock %}
