{% extends "layout_ap_branded.html" %}

{% block page_title %}
  ** Hidden Page **
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Hello! - test page
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">
        <a href="/">
        Prototype home page
        </a>
      </p>


    </div>

    <div class="govuk-grid-column-one-third">


    </div>  <!-- end column third -->

  </div>

{% endblock %}


