{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Ready to complete on plot sale?
      </h1>

      <p class="govuk-body-lead">Use this service when you are ready to complete on the sale of:</p>

      <p>14 Gardinia Way (Plot 7)<br>Westway Estate<br>Plymouth<br>PL1 2HB</p></p>

      <p>As far as you are aware no changes that would affect the sale of the plot will now occur.</p>

      <p>If something changes you can later indicate you're no longer ready.</p>

      <p>
        <a class="govuk-button govuk-button--start" href="06-sign-in" role="button">Start now</a>
      </p>

    </div>
  </div>



{% endblock %}
