{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">April 2020 - maximised value/minimised viable</span>
      <h1 class="govuk-heading-xl">
        Public beta/live service proposititon.
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">What we can achieve between April 2019 and April 2020
      </p>
      <p class="govuk-body-lead">This is the vision we took to GDS alpha assessment & received programme approval for - with the last 6 months of learning and insights folded in.
      </p>

      <p class="govuk-body-lead">Since September we had two objectives, what did we prove/learn?</p>

      <p><span class="govuk-!-font-size-24">We have</span> 
        <ul class="govuk-list govuk-list--bulletx recommendation">
          <li>demonstrated the benefits of a single, up-to-date, estate plan - by operating a private beta service. We recommend: scale to all plans.</li>
          <li>established digital housing development data (CAD) can be used to create title plans. We recommend: proceed to use in a trial.</li>
        </ul>
      </p>

      <h3 class="govuk-heading-m">What does this proposition demonstrate?</h3>
      <p>The public platform for estate plans we have built, validated, and operate.</p>
      <p>Prototype parts to complete a vision to maximise value - getting CAD; operating a live service for all submitted and approved estate plans</p>

      <h4 class="govuk-heading-s">Who is this for and what are the benefits?</h4>
      <p class="">Housing Developers, Conveyancers - using the service, to be right at completion (submitting OS2's and applications)</p>

      <p class="">Staff: approving plans - no additional overhead; OS2 applications - no checking and correcting.  Title plans created using CAD </p>

      <p>Information available for Lenders, Ordnance Survey, buyers, and other interested parties.
      </p>
           
      <ul class="govuk-list govuk-list--bullet">
          <li>everything about the plan is <b>right before completion</b></li>
          <li>everyone has access to <b>the authoritative, up-to-date, plan</b>, <b>when it's needed</b></li>
          <li><b>all current estate plans online</b> - if they are active</li>
          <li><b>all new and future estate plans online</b> - via new submission process</li>
          <li>no additional work for staff in <b>approving and publishing</b></li>
          <li><b>digital development data (CAD)</b> - for many estates - private beta</li>
          <li><b>OS2 forms are correct</b> when submitted - no manual checking and correcting is required</li>
          <li><b>Deed plans do not need rectification</b> post completion</li>
      </ul>

      <h2 class="govuk-heading-l">See the all the parts...</h2>


      <ul class="govuk-list govuk-list--number">

        <li> <!-- part 1 -->
          <h3 class="govuk-heading-m"><a href="/pb/16/submit-plans/01-start">Getting estate plan approval</a></h3>

          <p class="govuk-body-lead">What the housing developer does, and how we approve plans and publish them.
          </p>

          <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
            <li>submiting plans for approval (and getting digital housing development data - CAD)</li>
            <li>what staff do</li>
            <li>the result of approving</li>
            <li>how do housing developers find the service?</li>
          </ul>

        </li> <!-- end part 1 -->

        <li> <!-- part 2 -->

           <h3 class="govuk-heading-m"><a href="/pb/15/hmlr-email">During the property build and preparation for sale</a></h3>

           <p class="govuk-body-lead">What the buyers conveyancer needs (for the buyer and lender) - upon receiving instruction from the buyer, up to completion.  What the Ordnance Survey can use.</p>

           <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
             <li>What they get from the developer</li>
             <li>knowing the plan has changed / seeing the latest plan - when they need it</li>
             <li>how else to find it</li>
           </ul>

        </li> <!-- end part 2 -->

        <li> <!-- part 3 -->

           <h3 class="govuk-heading-m"><a href="/pb/15/hmlr-email">Preparing for completion, completing and registration</a></h3>

           <p class="govuk-body-lead">When the buyers conveyancer reserves priority and submits a deed plan (keeping the buyer and lender up to date). How we create title plans</p>

           
           <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
             <li>submitting an OS2 and deed (option: OS2's could be removed - digital reserve priority)</li>
             <li>how we create the title plan</li>
             <li>the progress of registration - for conveyancer and lender to see</li>
           </ul>

        </li> <!-- end part 3 -->

      </ul><!--  end list of steps -->



    </div>

  </div>

{% endblock %}
