{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Private Beta
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Design critiques
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">Prototypes - what we shipped and whats up coming in Nov, and beyond - put together for Oct 31st cross gov design crit at GDS.
      </p>

      <p>demonstration
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="pb/design-crit/estate">
              Estate page
            </a>
          </li>
          <li>
            <a href="pb/06/estate">
              Estate page (current sprint)
            </a>
          </li>
        </ul>
      </p>
      <p>Alternate flows/pages
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="pb/04/estate-navs">
              navigation thinking - for gov.uk service
            </a>
          </li>
          <li><a href="check-my-plans/update-check/v1/01-start">submitting/updating plans</a></li>
          <li><a href="notifications/v1/plan-problem-plot">notifying people</a></li>
          <li><a href="public-content-pages/google/a-01-google-home">findability - google</a></li>
          <li><a href="ready-to-buy/v1/01-start-page">use in transactional services?</a></li>
        </ul>
      </p>


    </div>

    <div class="govuk-grid-column-one-thirds">
    </div>  <!-- end column third -->

  </div>

{% endblock %}
