{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        User Research
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">Current prototypes for user research
      </p>

      <h2 class="govuk-heading-m"><a href="pb/15/dev-email">Scenario 1</a></h2>
      <!-- <h3 class="govuk-heading-s">Dec 13 - Sprint 7</h3>
      <h3 class="govuk-heading-s">Use:</h3> -->
      <!-- <p class="govuk-!-font-size-16">The buyer's conveyancer has received an email from the building developer. The sales pack has now been added to the download room.
      </p> -->
      <!-- <h3 class="govuk-heading-s">Features:</h3> -->
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li> The buyer's conveyancer has received an email from the building developer </li>
          <li> The sales pack for Thurstan Park has been added to the download room </li>
        </ul>








       <h2 class="govuk-heading-m"><a href="/pb/01/estate">Scenario 2 </a></h2>
         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
           <li> The buyer's conveyancer has signed up to get notifications from HM Land Registry </li>
           <li> HM Land Registry send an email to everyone signed up to the Thurstan Park development. Conveyancers are notified of changes to the approved estate plan </li>
         </ul>

              <!-- <h3 class="govuk-heading-s">Features:</h3>

              <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
                <li>
                  estate name and map
                </li>
                <li>
                  developer and conveyancer details for dummy development
                </li>
                <li>
                  link to estate plan PDF
                </li>
                <li>
                  link to email feedback option
                </li>
              </ul> -->

    </div>
    <!-- end of 2.3 column -->
    <!-- <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            User research themes
          </h2>
          <p><a href="user-research-themes">Notifications</a> </p>

        </aside>
    </div>
  </div> -->

{% endblock %}
