{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - list of housing developments - feature
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        List of Housing developments: feature
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <p class="govuk-body-lead">Who is the list of housing developments for? What does it need to do? What have we thought about?  What are we doing now?
      </p> -->

<!--       <p><a href="https://drive.google.com/drive/folders/1tYs3Eemh9ZI1M82Wjbl7KEdt_ByyDno4">More information</a> is kept in the team google drive (restricted)</p> -->


      <h2 class="govuk-heading-l">Who is the list of housing developments for?</h2>
      <p>There is a need for anyone to be able to find a housing development, and to be able to see what is being developed.  Transparency.</p>
      <p>There is no identified need from any user group to find a housing development in the way we currently show.</p>
      <p>We expect users to have the URL to a specific page - the development or property they are interested in.  They will have been given it or found it via google.</p>
      <p>Once housing developments are published on GOV.UK, there will be a need to find the developments and navigate between general and specific content. </p>
      <p>In the short term, it acts as a landing page for the service</p>


      <h2 class="govuk-heading-l">What does it need to do?</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>users need to understand what this page is about (this page and context)</li>
        <li>where they might want to be instead</li>
        <li>where they want to go next (what do they want to do next?)</li>
        <li>users need to identify the required housing development quickly</li>
      </ul>



      <h2 class="govuk-heading-l">What have we thought about?</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>where would this sit on gov.uk - what would link into it?</li>
        <li>what search terms would people use to find this page (key words)</li>
        <li>are developments known by more than one name (the name changes over time?)</li>
        <li>how the address changes over time</li>
        <li>how might people want to search for a development in the collection - name, type, geography, by location, size, last updated, when initially published, how complete (how close to finishing)</li>
        <li>searching, filtering, ordering, pagination, ordering</li>
        <li>the list is 'active developments' - what happens when the development is finished? (is there an historical list?)</li>
        <li>publishing a data version - json or csv (or API) - for lenders?  for anyone?</li>
      </ul>
      <p></p>
      <p></p>

      <h2 class="govuk-heading-l">What are we doing now?</h2>
      <p>Set the context : say what the list is, what we are doing, how to use 'EPA' / housing services.</p>
      <p>list all developments, on one page - in alphabetical order.  So they are easy to find.</p>



    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">Examples/ideas</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/pb/14/estate-list">idea 1</a></li>
            <li><a href="/pb/14/estate-list-j">idea 2</a></li>
          </ul>

        </aside>
    </div>
  </div>

{% endblock %}
