{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
          I want to develop land or property
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Public beta/live proposition -  March 2020</h2>

      <p class="govuk-body-lead">Everything ready at completion: <a href="2020-demo">What we are proposing over the next year</a>.</p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <hr>
    <p class="govuk-body-lead">previously....</p>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

      <h2 class="govuk-heading-l">Ready to sell: private beta proposition</h2>

      <p class="govuk-body-lead">This prototype shows the features we intend to investigate and create during the first 6 months of private beta.</p>

      <p>The prototype will change as we learn more from users.</p>


      <!-- <p>This prototype is being updated in this Alpha period.  This is version 0.5, version 1 will be complete by end July.</p> -->


      <h2 class="govuk-heading-m">Beta Proposition</h2>

      <h3 class="govuk-heading-s">Narratives:</h3>
      <p>I'm a developer and I want to <a href="check-my-plans/update-check/v10/01-start">check that all properties on my development plan</a> can be registered</p>

      <!-- <p>Use <span class="bold">Westway Estate, and Plot 7</span></p> -->


      <h3 class="govuk-heading-s">Features:</h3>
      <!-- <p>Examples of all the parts</p> -->
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="check-my-plans/update-check/v10/01-start">Check my development plan</a> - use CAD from the developer to complete extent checks, and automate plot extent checks and creation.
        </li>
        <li>
          <a class="govuk-link" href="/notifications/v10/plan-good">Get notifications</a> - send email notifications to subscribers when the estate plan changes.
        </li>
        <li>
          <a class="govuk-link" href="/public-content-pages/initial-estate-plan/v10/estate-list">View estate information</a> - provide information to everyone involved in buying and selling new build properties.
        </li>
      </ul>

      <h3 class="govuk-heading-s">What is our MVP? (minimum viable product)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><b>first release:</b>
          housing development information and estate plan with a permanent, shareable URL.
          <br>
          <ul>
            <li><a href="/pb/03/estate-mvp">housing development (GOV.UK)</a></li>
            <li><a href="/pb/05/estate">housing development (no brand)</a></li>
          </ul>

        </li>
        <li><b>first iteration:</b>
          list of housing developments with development information and estate plan - each development has a unique, permanent and shareable URL.
          <br>
          <ul>
            <li><a href="/pb/04/estate-list">housing developments (GOV.UK)</a></li>
            <li><a href="/pb/05/estate-list">housing developments (no brand)</a></li>
          </ul>
        </li>
      </ul>
      <hr>
      <br>
      <h2 class="govuk-heading-m">A future vision of housing development information</h3>
      <p>Information about new housing developments will be publically available from the planning stage until their sale. This could include up to 10000 housing developments and over 175,000 properties.</p>
      <h3 class="govuk-heading-s">What happens after sale?</h3>
      <br>
      <p>We have a <a href="https://www.gov.uk/search-property-information-land-registry">Find Property information service</a> - which allows anyone to see a property record.</p>
      <p>Property records were investigated in <a href="https://exemplar-no5.herokuapp.com">GDS/Land Registry - Exemplar #5 </a>Post Exemplar we thought about creating a <a href="http://readable-register.herokuapp.com">citizen readable register</a> - a permanent, public, page for each property in England and Wales (26 Million).</p>
      <p>Property pages could be used as:
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://exemplar-no5.herokuapp.com/register-view/register-view-4-help-text">stand alone property records</a> - a full record of each property including type, location and restrictions of use. This could be like a property 'logbook' or history
        </li>
        <li>property information pages that could be used as part of a transactional journey. For example, to buy or sell; re-mortgage; transfer ownership after death
        </li>
        <li>a reduced property page like <a href="https://exemplar-no5.herokuapp.com/find-owner/d/property-details-2.0"> page per property on gov.uk (5 Granary)</a> that collates everything useful from across GOV and local government such as bin collection and council tax bands</li>
</ul>
        <p>These would be built as registers or APIs so they could be used inside GOV and by industry in the UK.</p>

      </p>
      <h3 class="govuk-heading-s">How might Housing Developments sit in GOV.UK</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><b>Some navigation examples:</b>
          <a class="govuk-link" href="/pb/04/estate-navs">housing development information with example navigation/taxonomy</a>
        </li>
      </ul>

      <!-- <hr class="govuk-!-margin-top-9"> -->

<!--       <h2 class="govuk-heading-l">Feedback - yes please</h2>
      <p>We really like face to face conversations; come find any of the Develop land and property team, or</p>
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Beta Prototypes feedback" target="_top">email us your feedback</a>: newbuildsresearch@landregistry.gov.uk</p>
 -->

      <hr class="govuk-!-margin-top-9">
      <p>For how we got to the beta proposition see:

        <ul class="govuk-list govuk-list--bullet">
          <li>What we <a href="workshop">presented at the GDS assessment workshop</a></li>
          <li><a href="https://develop-property-alpha.herokuapp.com">previous, wider, alpha prototype</a> which contains more ideas and variation (username/password = landregistry/plans)</li>
        </ul>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <!-- <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Upcoming User stories / features
        </h2>
        <p><a href="estate-list">Housing Developments list</a> </p>
<!--         <p><a href="user-stories">Example UI and design notes for implementing user stories</a> in private beta</p> -->
      </aside>


      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Current prototypes for user research
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p class=" govuk-!-font-size-16">Version 15 (Feb 27 onwards - sprint 12): End to end service for user research
            <br>
            <a href="/end-to-end">Two scenarios from developer's email to notifications</a></p>

                <p class=" govuk-!-font-size-16"> Version 14 (Jan 23 onwards - sprint 10): New feature - <a href="estate-list">Introduction of housing development list page</a></p>

          <!-- <p class=" govuk-!-font-size-16">Version 12 (Dec 13 onwards - sprint 7):  investigating title numbers
            <br>
            <a href="/pb/12/estate">Registered title numbers on plot list page</a></p> -->

          <!-- <p class=" govuk-!-font-size-16">Version 11 (Dec 5 onwards sprint 7):
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
              <li>
                <a href="/pb/11/estate">
                  sign up for notifications - 3rd iteration.
                </a>
                Includes: all addresses for Thurstan Park and a link in footer to notification examples
              </li>
              <li>
                <a href="/pb/11/notification-flows">
                  example notifications - signup, unsubscribe, automatic deletion
                </a> -->

              </li>
            </ul>
          </p>


          <p class=" govuk-!-font-size-16"> <a href="version-history">Previous versions of the prototype </a></p>
        </nav>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Operating the service - What we've learned
        </h2>
        <h3 class="govuk-heading-s">Two estate plans:</h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p class=" govuk-!-font-size-16"><a href="/pb/08/estate">Version 8</a> of the prototype shows how we might deal with a development that has 2 estate plans
            </p>
        </nav>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          More about this service
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="user-needs">
                User needs
              </a>
            </li>
            <li>
              <a href="blueprint">
                Service blueprint
              </a>
            </li>
            <li>
              <!-- <a href="#"> -->
                Technology
              <!-- </a> -->
            </li>
            <li>
              <!-- <a href="#"> -->
                Measuring the service
              <!-- </a> -->
            </li>

<!--             <li>
              <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
            </li> -->
            <li>
              <a href="more-about-the-service" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">information about this service in beta</span>
            </a>
            </li>
          </ul>
        </nav>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          x-gov design crit
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p class=" govuk-!-font-size-16"><a href="design-crit">Oct 31st design cross gov design crit at GDS</a>.</p>
        </nav>
      </aside>

    </div>

  </div>


{% endblock %}
