{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
          I want to develop land or property
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Ready to sell: beta proposition</h2>
      
      <p class="govuk-body-lead">This prototype shows the features we intend to create during the next 6 months.</p>

      <p>Some of the details - wording and elements of these pages - will change as we learn more from users during the end of this alpha and during beta.</p>


      <!-- <p>This prototype is being updated in this Alpha period.  This is version 0.5, version 1 will be complete by end July.</p> -->


      <h2 class="govuk-heading-m">Beta Proposition</h2>

      <h3 class="govuk-heading-s">Narratives:</h3>
      <p>I'm a developer and I want to <a href="check-my-plans/update-check/v10/01-start">check that my development plan</a> won't result in unregistrable properties</p>

      <!-- <p>Use <span class="bold">Westway Estate, and Plot 7</span></p> -->


      <h3 class="govuk-heading-s">All the parts:</h3>
      <p>Examples of all the parts</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="check-my-plans/update-check/v10/01-start">Check my development plan</a> - extent checks; and using the developers CAD to automate the checking and creation of plot extents.
        </li>
        <li>
          <a class="govuk-link" href="/notifications/v10/plan-good">Notifications</a> - interested parties can be notified when plans and other published information changes - at an estate or plot level.
        </li>
        <li>
          <a class="govuk-link" href="/public-content-pages/initial-estate-plan/v10/estate-list">Published estate information</a> - for everyone involved in the selling and buying, surveying and registering.
        </li>
      </ul>

      <h3 class="govuk-heading-s">What does MVP (minimum viable product) look like?</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><b>first release:</b> 
          housing development information and layout plan (GOV.UK) - one housing development with a permanent, shareable, URL for the estate and plan.
          <br>
          <ul>
            <li><a href="/pb/03/estate-mvp">housing developments (GOV.UK)</a></li>
            <li><a href="/pb/05/estate">housing development (no brand)</a></li>
          </ul>
          
        </li>
        <li><b>first iteration:</b>
          list of housing developments, development information and layout plan - a few housing developments with permanent, shareable, URL's for the estate and plan
          <br>
          <ul>
            <li><a href="/pb/04/estate-list">housing developments (GOV.UK)</a></li>
            <li><a href="/pb/05/estate-list">housing developments (no brand)</a></li>
          </ul>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Where do Housing Developments / Homes belong? GOV.UK?</h3>
      <p class="govuk-body-lead">What should we have worked out by the end of private beta?</p>
      <p>175,000 New build homes per year (underestimate). 4000 Housing developments (estimation).</p>
      <p>Whilst being planned, built and up to the point of first sale, 'Develop' content will be available for the Seller, Buyer, their agents (conveyancers), Mortgage Lenders, etc.</p>
      <p>Where do these 175,000 pieces of content go - now, and after sale?  We have a <a href="https://www.gov.uk/search-property-information-land-registry">Find Property information service</a> - which allows anyone to see a property record</p>
      <p><strong>And...</strong> The <a href="https://exemplar-no5.herokuapp.com">GDS/Land Registry - Exemplar #5</a> - investigated this (amongst other things), and post Exemplar we thought about a <a href="http://readable-register.herokuapp.com">citizen readable register</a>.  Permanent, public, page(s) for each property in England and Wales (26 Million).</p>
      <p>Property pages could have use as:
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://exemplar-no5.herokuapp.com/register-view/register-view-4-help-text">stand alone property records</a> / information about the property/home - a full record of What it is, Where it is; What you can and can't do with it; What others can do with it - like a 'property manual/logbook/history'
        </li>
        <li>property information pages/content that could be used as part of a transactional or step-by-step journey. eg buy/sell; mortgage; borrow against; transfer ownership after death.
        </li>
        <li>a cut down property page that collates everything else useful about the place - from across GOV and local GOV - '<a href="https://exemplar-no5.herokuapp.com/find-owner/d/property-details-2.0">page per property on gov.uk'</a>(5 Granary) - local and gov services like bins and council tax bands</li>
        <li>and, obvs, all as Registers, API's, etc - so can be used inside GOV and by industry in the UK</li>
      </ul>
      </p>
      <h3 class="govuk-heading-s">How might Housing Developments sit in GOV.UK</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><b>Some navigation examples:</b> 
          <a class="govuk-link" href="/pb/04/estate-navs">housing development information with example navigation/taxonomy</a>
        </li>
      </ul>

      <!-- <hr class="govuk-!-margin-top-9"> -->

<!--       <h2 class="govuk-heading-l">Feedback - yes please</h2>
      <p>We really like face to face conversations; come find any of the Develop land and property team, or</p>
      <p><a href="mailto:newbuildsresearch@landregistry.gov.uk?Subject=Beta Prototypes feedback" target="_top">email us your feedback</a>: newbuildsresearch@landregistry.gov.uk</p>
 -->

      <hr class="govuk-!-margin-top-9">
      <p>For how we got to the beta proposition see:

        <ul class="govuk-list govuk-list--bullet">
          <li>What we <a href="workshop">presented at the GDS assessment workshop</a></li>
          <li><a href="https://develop-property-alpha.herokuapp.com">previous, wider, alpha prototype</a> which contains more ideas and variation (username/password = landregistry/plans)</li>
        </ul>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          User stories
        </h2>
        <p><a href="user-stories">Example UI and design notes for implementing user stories</a> in private beta</p>       
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          More about this service
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="user-needs">
                User needs
              </a>
            </li>
            <li>
              <a href="blueprint">
                Service blueprint
              </a>
            </li>
            <li>
              <!-- <a href="#"> -->
                Technology
              <!-- </a> -->
            </li>
            <li>
              <!-- <a href="#"> -->
                Measuring the service
              <!-- </a> -->
            </li>

<!--             <li>
              <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
            </li> -->
            <li>
              <a href="more-about-the-service" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">information about this service in beta</span>
            </a>
            </li>
          </ul>
        </nav>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          x-gov design crit
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p>Proto version - what we shipped and whats up coming in Nov.  Oct 31st design cross gov design crit at GDS.</p>
          <p>demonstration
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="pb/design-crit/estate">
                  Estate page
                </a>
              </li>
            </ul>
          </p>
          <p>Alternate flows/pages
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="pb/04/estate-navs">
                  navigation thinking - for gov.uk service
                </a>
              </li>
              <li><a href="check-my-plans/update-check/v1/01-start">submitting/updating plans</a></li>
              <li><a href="notifications/v1/plan-problem-plot">notifying people</a></li>
              <li><a href="public-content-pages/google/a-01-google-home">findability - google</a></li>
              <li><a href="ready-to-buy/v1/01-start-page">use in transactional services?</a></li>
            </ul>
          </p>
        </nav>
      </aside>

    </div>

  </div>


{% endblock %}
