{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        I want to develop land or property
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">More about this beta proposition:  How we got here - what else we learnt about, tried, and considered.
      </p>

      <p>this page will cover the previous alpha, how we got to this point, and what else we tried - so we can show the ideas that didn't work for users; where we know we need to learn more; and ideas that are further out than the next 6 months - things we don't want to loose sight of / share with people.</p>


      <h2 class="govuk-heading-l">Previous Alpha</h2>
      <p><a href="https://develop-property-alpha.herokuapp.com">Prototypes of a wider look around</a> solving problems with transparency and transactional services in developing land an property.<br><em>username/password = landregistry/predictor</em></p></p>



<!--       <p>Use <span class="bold">Westway Estate, Plot 7 (and plot 1)</span></p>

      <h3 class="govuk-heading-m"><a href="public-content-pages/initial-estate-plan/v2/estate-list">View estates</a></h3>
      <p>
        <ul class="govuk-list govuk-list--bullet">
            <li>finding and viewing digital plans for estates and plots</li>
            <li>is my plan ok?</li>
              <ul class="govuk-list govuk-list--bullet">
                <li>what's been checked, and whats left to do</li>
                <li>will there be problems with registering (selling) this?</li> 
              </ul>
        </ul>
      </p>

      <h3 class="govuk-heading-s">Beginning of 'I want to develop and sell new build plots'</h3>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="check-my-plans/update-check/v1/01-start">submitting/updating plans</a></li>
          <li><a href="notifications/v1/plan-problem-plot">notifying people</a></li>
        </ul>
      </p>

      <h3 style="margin-top:60px;" class="govuk-heading-s">Beginning of 'I want to buy a new build property' (not this beta)</h3>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="public-content-pages/google/a-01-google-home">findability - google</a></li>
          <li><a href="ready-to-buy/v1/01-start-page">use in transactional services?</a></li>
        </ul>
      </p>
 -->



    </div>

  </div>

{% endblock %}
