{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        User research themes
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-body-lead">A summary of user research on the features we are building.
      </p>


      <h3 class="govuk-heading-l">Notifications</h3>
      <p>User research from buyers’ conveyancers has shown:</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>they want notifications via email and are happy to provide an email address</li>
        <li>they don’t want to log in to something but would sign up ‘straight away’ to an email notification service</li>
      </ul>

      <br>
      <p>Buyers' conveyancers need notifications to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be informed of plan withdrawal so they have time to act on it</li>
        <li>be informed of any plan change ahead of lodging an OS2</li>
        <li>have confirmation that it is the most recent plan</li>
      </ul>

      <br>
      <p>On average, buyers' conveyancers are told of 50% of changes by the building developer. However:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>some building developers send out more notifications</li>
        <li>notifications of changes to the plan can be very late</li>
        <li>although most changes are small, critical changes can cause major problems for the buyers' conveyancer</li>
      </ul>

      <br>
      <p>Feedback about example notifications from buyers' conveyancers showed that they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>want to know the name of the housing development in the subject line</li>
        <li>liked plot level details in the email body</li>
        <li>didn’t understand the term ‘personal information charter’</li>
      </ul>
      <br>
      <br>
      <br>
















{% endblock %}
