{% extends "layout_ap_branded.html" %}

{% block page_title %}
  View Housing Developments - Private Beta - User Stories
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        User Stories - Private beta
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">Screens and notes for implementing user stories in private beta.
      </p>
      <p class="govuk-body">HTML/Styles are predominantly from the <a href="https://design-system.service.gov.uk/get-started/">design system</a>, so from the front end toolkit.  However don't copy and paste the prototype code, unless mentioned -> have a chat about it.</p>

      <p>
        <ul class="govuk-list">
          <li>#Number = Link to trello cards - requires access to team board</li>
          <li>story name = link to prototype page</li>
        </ul>
      </p>


      <h2 class="govuk-heading-m">Sprint 1</h2>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://trello.com/c/oYDhSh0c">#11</a> - view approved plan
            <ul class="govuk-list govuk-list--bullet">
              <li>no UI</li>
            </ul>
          </li>              
        </ul>
      </p>

      <h2 class="govuk-heading-m">Sprint 2</h2>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://trello.com/c/5gYdBq1A">#26</a> - <a href="/03/housing-developments/germanybeck">find an estate</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>in progress</li>
            </ul>
          </li>
          <li><a href="https://trello.com/c/5yfqzKi2">#39</a> - <a href="https://www.gov.uk/help/terms-conditions">Terms and conditions</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>Link to GOV.UK terms and conditions</li>
            </ul>
          </li>  
          <li><a href="https://trello.com/c/u8gE4Vl5">#42</a> - <a href="https://www.gov.uk/help/cookies">Cookies</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>Link to GOV.UK Cookies</li>
            </ul>
          </li> 
          <li><a href="https://trello.com/c/WtY4pbbt">#40</a> - <a href="/pb/03/404">404 - page not found</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>uses <a href="https://design-system.service.gov.uk/patterns/page-not-found-pages/">Design system pattern</a> - <span><strong class="govuk-tag" style="padding-top: 4px; padding-bottom: 1px;">
              Experimental</strong></span></li>
            </ul>
          </li> 
<!--           <li><a href="">#39</a> - <a href="">Terms and conditions</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>notes</li>
            </ul>
          </li>  -->             
        </ul>
      </p>

      <h2 class="govuk-heading-m">Sprint 3+</h2>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://trello.com/c/ngL54hG5">#41</a> - <a href="/pb/03/503">503 - service unavailable</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>uses <a href="https://design-system.service.gov.uk/patterns/service-unavailable-pages/">Design system pattern</a> - <span><strong class="govuk-tag" style="padding-top: 4px; padding-bottom: 1px;">
              Experimental</strong></span></li>
            </ul>
          </li> 
          <li><a href="https://trello.com/c/ngL54hG5">#41</a> - <a href="/pb/03/500">500 - there is a problem with the service</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>uses <a href="https://design-system.service.gov.uk/patterns/problem-with-the-service-pages/">Design system pattern</a> - <span><strong class="govuk-tag" style="padding-top: 4px; padding-bottom: 1px;">
              Experimental</strong></span></li>
            </ul>
          </li> 
<!--           <li><a href="">#39</a> - <a href="">Terms and conditions</a>
            <ul class="govuk-list govuk-list--bullet">
              <li>notes</li>
            </ul>
          </li>  -->             
        </ul>
      </p>

    </div>

  </div>

{% endblock %}
