{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Version history
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">A overview of the prototypes created for user research.
      </p>
      <p class=" govuk-!-font-size-16">Version 9 (Nov 26/sprint 6): <a href="/pb/09/estate">1 plan for Thurstan (Notification of approved, not plot changed)</a> - (for download room scenario)</p>
      <p class=" govuk-!-font-size-16">Version 8 (Nov 22/sprint 6): <a href="/pb/08/estate">Notifications</a> - (for download room scenario)</p>
      <p class=" govuk-!-font-size-16">Version 7: <a href="/pb/07/01/estate">Notifications needs</a> (first investigation)? </p>


      <!-- <p><a href="https://drive.google.com/drive/folders/1tYs3Eemh9ZI1M82Wjbl7KEdt_ByyDno4">Full list of user needs</a> is kept in the team google drive (restricted)</p>


      <h2 class="govuk-heading-l">Developing land and properties</h2>
      <p>Developer = developer (all parts of the organisation) and developers conveyancer</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>I'm a developer and I want to check my plans to develop properties will be registrable</li>
        <li>I'm a developer and I've updated my plans for the development/properties I'm building</li>
        <li>I'm a developer and I want to be notified if something is a problem</li>
        <li>I'm a developer and I'm ready to sell properties</li>
        <li>I'm a developer and I need to share the plans with other parties</li>
      </ul>

      <h2 class="govuk-heading-l">Buying a property</h2>
      <p>Buyer = buyers conveyancer, buyer, mortgage lender</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>I'm acting on behalf of the buyer and need to see plans of the estate/plot</li>
        <li>I'm acting on behalf of the buyer and need to refer to plans of the estate/plot</li>
        <li>I'm acting on behalf of the buyer and need to explain to the buyer information about the plot</li>
        <li>I'm considering properties in my local area and I want to see what I might want to buy</li>
        <li>I'm buying/acting on behalf of the buyer (and lender) and I want to be notified if something is a problem</li>
      </ul>

      <h2 class="govuk-heading-l">HM Land Registry</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>I/We need to check the estate and plot plans to see if it could be registered, or what the problems might be</li>
        <li>I/We need to start drafting property records in anticipation of sale, so that parties can convey more quickly and we can be efficient</li>
        <li>I/We need to check the plan against the survey of the site</li>
      </ul>


      <h2 class="govuk-heading-l">Ordnance Survey</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>I/We need to survey the estate to record what has been built, where</li>
        <li>I/We need to understand if any structures on site are not only temporary</li>
      </ul>

      <h2 class="govuk-heading-l">Lenders</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>I/We need to know what is being built around the country so we can more effectively calculate lending exposure and have better informed mortgage offerings</li>
      </ul> -->

    </div>
  </div>

{% endblock %}
