{% extends "layout_ap_branded.html" %}

{% block page_title %}
  Develop land and property - Alpha
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Version history
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-lead">An overview of the prototypes created for user research.
      </p>

      <h2 class="govuk-heading-m"><a href="/pb/13/estate">Version 13</a></h2>
      <h3 class="govuk-heading-s">Dec 13 - Sprint 7</h3>
      <h3 class="govuk-heading-s">Use:</h3>
      <p class="govuk-!-font-size-16">Investigating registered title numbers
      </p>
      <h3 class="govuk-heading-s">Features:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
        <li>
          registered title numbers shown on individual plot page  - plot 8 with a title number and plot 9 without
        </li>
      </ul>


      <h2 class="govuk-heading-m"><a href="/pb/12/estate">Version 12</a></h2>
      <h3 class="govuk-heading-s">Dec 13 - Sprint 7</h3>
      <h3 class="govuk-heading-s">Use:</h3>
      <p class="govuk-!-font-size-16">Investigating registered title numbers
      </p>
      <h3 class="govuk-heading-s">Features:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
        <li>
          example of registered title numbers as a new column on plot list page
        </li>

      </ul>

      <h2 class="govuk-heading-m"><a href="/pb/11/estate">Version 11</a></h2>
      <h3 class="govuk-heading-s">Dec 5 - Sprint 7</h3>
      <h3 class="govuk-heading-s">Use:</h3>
      <p class="govuk-!-font-size-16">Sign up for notifications - 3rd iteration
      </p>
      <h3 class="govuk-heading-s">Features:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
        <li>
          more example notifications: sign up, unsubscribe and automatic deletion emails
        </li>
        <li>
          all addresses for Thurstan Park have been added
        </li>
        <li>
          direct link in the footer to notification examples
        </li>
      </ul>



      <h2 class="govuk-heading-m"><a href="/pb/10/estate">Version 10</a></h2>
      <h3 class="govuk-heading-s">Dec 5 - Sprint 7</h3>
      <h3 class="govuk-heading-s">Use:</h3>
      <p class="govuk-!-font-size-16">Sign up for notifications - 2nd iteration
      </p>
      <h3 class="govuk-heading-s">Features:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
        <li>
          sign up via email only
        </li>
        <li>
          new confirmation page of sign up with example email
        </li>
        <li>
          confirmation page of unsubscribing - no example email
        </li>
      </ul>





      <h2 class="govuk-heading-m"><a href="/pb/09/estate">Version 9</a></h2>
        <h3 class="govuk-heading-s">Sprint 6</h3>
         <h3 class="govuk-heading-s">Use:</h3>
         <p class="govuk-!-font-size-16">Changes to the initial published plan - fewer plots are approved</a></p>
         <h3 class="govuk-heading-s">Features:</h3>

         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
           <li>
             Thurstan Park estate plan approval has changed. There is now only one plan.
           </li>
           <li>
             approved plots link to the plan
           </li>
           <li>
             example of notifications sign up page with email and text message options
           </li>
           <li>
            new example email - some plots have been approved
           </li>
         </ul>


      <h2 class="govuk-heading-m"><a href="/pb/08/estate">Version 8</a></h2>
      <h3 class="govuk-heading-s">Nov 22 - sprint 6</h3>
      <h3 class="govuk-heading-s">Use:</h3>
      <p class="govuk-!-font-size-16"> Another look at notifications to discuss plot level or plan changes.
        To be used in conjunction with a prop that takes the buyer’s conveyancer from the download room / sales pack (supplied by the developer) to the estate page.
      </p>
      <h3 class="govuk-heading-s">Features:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 ">
        <li>
          Thurstan Park - first published plan is actually 2 plans with different plots approved on each
        </li>
        <li>
          link to correct plan from individual plots
        </li>
        <li>
          one link from estate page to plot page and one link to plan from plot page
        </li>
        <li>
          new example email about changes to plots
        </li>
      </ul>


    <h2 class="govuk-heading-m"><a href="/pb/07/01/estate">Version 7</a></h2>

    <h3 class="govuk-heading-s">Use:</h3>
    <p class="govuk-!-font-size-16">Introduction to notifications</a></p>
    <h3 class="govuk-heading-s">Features:</h3>

    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
      <li>
        separate links from estate page to plan & plot page
      </li>
      <li>
        duplicate link from plot page to plan
      </li>
      <li>
        example of notifications sign up page with email and text message options
      </li>
      <li>
        example of email about plan approval
      </li>
    </ul>

    <h2 class="govuk-heading-m"><a href="/pb/06/estate">Version 6</a></h2>
    <h3 class="govuk-heading-s">Sprint 4</h3>
       <h3 class="govuk-heading-s">Use:</h3>
       <p class="govuk-!-font-size-16">Intoduction of a plot list page</a></p>
       <h3 class="govuk-heading-s">Features:</h3>

       <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
         <li>
           table including plot number, address and plan approval date
         </li>
         <li>
           testing plot page with details needed for conveyancers to complete OS2 form
         </li>
         <li>
           feedback link goes to a GOV.uk style feedback survey
         </li>
       </ul>

     <h2 class="govuk-heading-m"><a href="/pb/05/estate">Version 5</a></h2>
     <h3 class="govuk-heading-s">Sprint 3</h3>

        <h3 class="govuk-heading-s">Use:</h3>
        <p class="govuk-!-font-size-16">Debranding the service - initially we won't be hosted on GOV.UK</a></p>
        <h3 class="govuk-heading-s">Features:</h3>

        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
          <li>
            all pages debranded
          </li>
          <li>
            links to cookies page and terms and conditions page
          </li>
          <li>
          error message pages 404 and 500
          </li>
          <li>
            feedback text but no link
          </li>
        </ul>

      <h2 class="govuk-heading-m"><a href="/pb/04/estate">Version 4</a></h2>
         <h3 class="govuk-heading-s">Use:</h3>
         <p class="govuk-!-font-size-16">Estate page and plan for Germany Beck</a></p>
         <h3 class="govuk-heading-s">Features:</h3>

         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
           <li>
             estate page and link to PDF plan
           </li>
           <li>
             feedback link appears for email feedback but is not part of this sprint
           </li>
         </ul>

       <h2 class="govuk-heading-m"><a href="/pb/03/estate-mvp">Version 3</a></h2>
       <h3 class="govuk-heading-s">Sprint 2</h3>
          <h3 class="govuk-heading-s">Use:</h3>
          <p class="govuk-!-font-size-16">Estate page and plan for Germany Beck</a></p>
          <h3 class="govuk-heading-s">Features:</h3>

          <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
            <li>
              estate page and link to PDF plan (broken link)
            </li>
            <li>
              versions with and without map on estate page (not linked to)
            </li>
          </ul>

        <h2 class="govuk-heading-m"><a href="/pb/02/estate-list">Version 2</a></h2>
           <h3 class="govuk-heading-s">Use:</h3>
           <p class="govuk-!-font-size-16">Exploring possible housing development list feature</a></p>
           <h3 class="govuk-heading-s">Features:</h3>

           <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
             <li>
               list of housing developments
             </li>
             <li>
               developer and conveyancer details for dummy development
             </li>
           </ul>

           <h2 class="govuk-heading-m"><a href="/pb/01/estate">Version 1</a></h2>
              <h3 class="govuk-heading-s">Use:</h3>
              <p class="govuk-!-font-size-16">First iteration of service front page</a></p>
              <h3 class="govuk-heading-s">Features:</h3>

              <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-bottom-7">
                <li>
                  estate name and map
                </li>
                <li>
                  developer and conveyancer details for dummy development
                </li>
                <li>
                  link to estate plan PDF
                </li>
                <li>
                  link to email feedback option
                </li>
              </ul>

    </div>
    <!-- end of 2.3 column -->
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            User research themes
          </h2>
          <p><a href="user-research-themes">Notifications</a> </p>

        </aside>
    </div>
  </div>

{% endblock %}
