{% extends "layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="estate">Germany Beck overview</a>
    </div>

  </div>
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">
				<span class="govuk-caption-xl">Germany Beck</span>
      	Development plans
      </h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Development plan
      </h2>
			<p>the <a href="/germanybeck/estate-layout">plan of the whole <span class="govuk-visually-hidden">Germany Beck, </span>development</a> (PDF), dated 18 September 2018.</p>
		</div>

	</div>


	<div class="govuk-grid-row spacing-top-single">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Plot information
      </h2>
      <p>something here about what the list is and what you can use it for</p>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<table class="govuk-table">
				<caption class="govuk-table__caption govuk-visually-hidden">Plots, names, addresses and status</caption>
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th class="govuk-table__header" scope="col">Plot</th>
			      <th class="govuk-table__header" scope="col">Address</th>
			      <th class="govuk-table__header" scope="col">Plan reference - which development plan the plot is shown on</th>
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 1</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 2</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 3</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 4</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 5</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    	<th class="govuk-table__header" scope="row">Plot 6</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 7</th>
			      <td class="govuk-table__cell ">14 Gardinia Way</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 8</th>
			      <td class="govuk-table__cell ">16 Gardinia Way</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 9</th>
			      <td class="govuk-table__cell ">18 Gardinia Way</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 10</th>
			      <td class="govuk-table__cell ">20 Gardinia Way</td>
			      <td class="govuk-table__cell ">18 September 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 11</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">not available - hint what does this mean</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 12</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <td class="govuk-table__cell ">not available - hint what does this mean</td>
			    </tr>

			  </tbody>
			</table>


		</div>		
	</div>

<!-- 	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full" style="margin-top:150px;">
			<p><a href="03-development-plans">alternate view of list</a></p>
		</div>
	</div> -->


  

{% endblock %}
