{% extends "layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="estate">Germany Beck overview</a>
    </div>

  </div>
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">
				<span class="govuk-caption-xl">Development</span>
				Germany Beck
      	
      </h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Development plan
      </h2>
			<p>the <a href="/germanybeck/estate-layout">plan for the <span class="govuk-visually-hidden">Germany Beck, </span>development</a> (PDF), dated 18 September 2018.</p>
		</div>

	</div>


	<div class="govuk-grid-row spacing-top-single">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Plot information
      </h2>
      <!-- <p>something here about what the list is and what you can use it for</p> -->

      <!-- you can make applications in form OC1 for certificates of inspection of the title plan and official search applications, by referring to the plot number on an approved estate plan rather than supplying a plan with each application -->

      <!--  table caption - would be netter -->
      <!-- <p>Plots on the development plan, and the address if known</p> -->
      <!-- <p>The plot number, or address if available, can be used with the plan date when doing HMLR forms/enquiries</p> -->
      <!-- <p>For HM Land Registry enquiries and activities (<a href="https://www.gov.uk/government/publications/developing-estates-estate-plan-approval/developing-estates-registration-services-estate-plan-approval-practice-guide-41-supplement-2">practice guide PG41s2)</a> -  Use the The plot number or address, and the plan date - for example <a href="https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1">OC1</a></p> -->

      <!-- <p>For HM Land Registry enquiries and activities. Use the The plot number or address, and the date 18th September 2018.</p> -->

      <!-- <p>The plot number or address, and the date 18th September 2018, can be used.</p> -->
<!--       <p>The plot numbers can be used with the plan date 
      when completing a search of part (OS2), or to obtain a certificate of inspection (OC1).</p> -->

<!--  			<p>The plot numbers can be used with the plan date:
      <ul class="govuk-list govuk-list--bullet">
      	<li>when completing a search of part (OS2) </li>
      	<li>to obtain a certificate of inspection (OC1)</li>
      </ul>
    	</p> -->

  		<p>Reference the plot or address, with the plan date 
  		on HM Land Registry forms and enquiries, for example:

  		  <ul class="govuk-list govuk-list--bullet">
      		<li>when completing a <a href="https://www.gov.uk/government/publications/official-search-with-priority-part-of-the-title-os2">search of part (OS2)</a></li>
      		<li>to obtain a <a href="https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1">certificate of inspection (OC1)</a></li>
      	</ul>
      </p>	

      <!-- <p>You can reference the plot numbers below on the following forms: OS2, OC1, etc. -->
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<table class="govuk-table spacing-top-single">
				<caption class="govuk-table__caption govuk-visually-hidden">Plots, names, addresses and status</caption>
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th class="govuk-table__header" scope="col">Plot</th>
			      <th class="govuk-table__header" scope="col">Address</th>
			      <th class="govuk-table__header" scope="col">Exceptions
			      <!-- <span class="govuk-caption-s">which development plan the plot is shown on</span> -->
			    	</th>
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 1</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 2</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 3</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 4</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 5</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    	<th class="govuk-table__header" scope="row">Plot 6</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 7</th>
			      <td class="govuk-table__cell ">14 Gardinia Way</td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 8</th>
			      <td class="govuk-table__cell ">16 Gardinia Way</td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 9</th>
			      <td class="govuk-table__cell ">18 Gardinia Way</td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 10</th>
			      <td class="govuk-table__cell ">20 Gardinia Way</td>
			      <td class="govuk-table__cell "></td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 11</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell ">plan date not available - plan update in progress</td>
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 12</th>
			      <td class="govuk-table__cell "> </td>
			      <td class="govuk-table__cell ">plan date not available - plan update in progress</td>
			    </tr>

			  </tbody>
			</table>


		</div>		
	</div>

<!-- 	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full" style="margin-top:150px;">
			<p><a href="03-development-plans">alternate view of list</a></p>
		</div>
	</div> -->


  

{% endblock %}
