{% extends "layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block service_name %}
  
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include '../../../includes/language_switcher.html' %}
    </div>
  </div>
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">
      	Development plans
      </h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Estate plans
      </h2>
      <p><a href="estate-plans">Estate layout received by HM Land Registry 20 February 2018</a>.</p>
		</div>
	</div>


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-l">
      	Plot plans
      </h2>
      <p>Created for the registration of new titles, from the estate layout of 20 February 2018.</p>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<table class="govuk-table">
				<caption class="govuk-table__caption govuk-visually-hidden">Plots, names, addresses and status</caption>
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th class="govuk-table__header" scope="col">Plot</th>
			      <th class="govuk-table__header" scope="col">Address</th>
			      <!-- <th class="govuk-table__header" scope="col">Status</th> -->
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 1</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 2</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 3</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 4</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 5</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    	<th class="govuk-table__header" scope="row">Plot 6</th>
			      <td class="govuk-table__cell ">unknown</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row"><a href="plot">Plot 7</a></th>
			      <td class="govuk-table__cell ">14 Gardinia Way</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 8</th>
			      <td class="govuk-table__cell ">16 Gardinia Way</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 9</th>
			      <td class="govuk-table__cell ">18 Gardinia Way</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>
			    <tr class="govuk-table__row">
			    	<th class="govuk-table__header" scope="row">Plot 10</th>
			      <td class="govuk-table__cell ">20 Gardinia Way</td>
			      <!-- <td class="govuk-table__cell ">registrable</td> -->
			    </tr>

			  </tbody>
			</table>


		</div>		
	</div>

<!-- 	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full" style="margin-top:150px;">
			<p><a href="03-development-plans">alternate view of list</a></p>
		</div>
	</div> -->


  

{% endblock %}
