{% extends "layout_hmlr.html" %}

{% block page_title %}

{% endblock %}

{% block service_name %}
  Terms and conditions - view housing development
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <!-- <h1 class="govuk-heading-l">Contact method </h1> -->

      <!-- <form class="form" action="/thurstan-park/plan-changed-noification" method="post"> -->
      <form class="form" action="/thurstan-park/plan-published-noification" method="post">

        <div class="govuk-width-container">
          <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                    Email sign-up complete
                  <!-- </h1>
                  <div class="govuk-panel__body">
                    Your reference number
                    <br><strong>HDJ2123F</strong>
                  </div> -->
                </div>

                <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->
            <div class="spacing-top-double">

                <h3 class="govuk-heading-m">What happens next</h3>
            </div>
                <p class="govuk-body">
                  We’ve sent you a confirmation email.
                </p>
                <p class="govuk-body">
                  You can unsubscribe from this notification service at any time.</p>

                  <p>See an example <a href="notification-03">confirmation email<span class="govuk-visually-hidden"> </span></a>.
            			</p>


                <p class="govuk-body">
                  <!-- <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds) -->
                </p>
              </div>
            </div>
          </main>
        </div>
        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
                Email address
              </h1>
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <span id="email-hint" class="govuk-hint">
                We’ll only use this to tell you the plan has changed
              </span>
              <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div> -->
  </div>

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "cookies",
          text: "Cookies"
        },
        {
          href: "terms-conditions",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}
